tqdm==4.36.1
mypy==0.730
mypy-extensions==0.4.2
typing-extensions==3.7.4
overrides==2.0
spacy==2.2.1
numpy==1.17.2
tensorboard==2.0.0
tensorboardX==1.9
tensorflow==2.0.0
tensorflow-estimator==2.0.0
matplotlib==3.1.1
scikit-learn==0.20.3
networkx==2.2

Epoch1
100%|########################################################################################################################################| 720/720 [00:57<00:00, 12.44it/s]
Train loss for epoch: 1.8636562824249268
100%|##########################################################################################################################################| 81/81 [00:02<00:00, 35.54it/s]
Val loss for epoch: 1.7829
Val F1 score: 0.4176

Epoch2
100%|########################################################################################################################################| 720/720 [00:57<00:00, 12.49it/s]
Train loss for epoch: 1.322493553161621
100%|##########################################################################################################################################| 81/81 [00:02<00:00, 34.46it/s]
Val loss for epoch: 1.6211
Val F1 score: 0.5408

Epoch3
100%|########################################################################################################################################| 720/720 [00:59<00:00, 12.06it/s]
Train loss for epoch: 0.9226903915405273
100%|##########################################################################################################################################| 81/81 [00:02<00:00, 34.96it/s]
Val loss for epoch: 1.6497
Val F1 score: 0.5938

Epoch4
100%|########################################################################################################################################| 720/720 [00:57<00:00, 12.53it/s]
Train loss for epoch: 0.6677314043045044
100%|##########################################################################################################################################| 81/81 [00:02<00:00, 35.22it/s]
Val loss for epoch: 1.7662
Val F1 score: 0.5973

Epoch5
100%|########################################################################################################################################| 720/720 [00:59<00:00, 12.15it/s]
Train loss for epoch: 0.5299586653709412
100%|##########################################################################################################################################| 81/81 [00:02<00:00, 33.71it/s]
Val loss for epoch: 1.8744
Val F1 score: 0.5998


